global
  maxconn 20000
  nbthread 1
  hard-stop-after 1s
  tune.bufsize 4096

defaults
  mode http
  option dontlognull
  option http-keep-alive
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  timeout http-keep-alive 30s

frontend fe_http
  bind *:9999
  default_backend workers

backend workers
  balance roundrobin
  option http-buffer-request
  http-reuse always
  server app1 unix@/tmp/app1.sock check
  server app2 unix@/tmp/app2.sock check
